[Unit]
Description=AdguardTeam dnsproxy service
Documentation=https://github.com/AdguardTeam/dnsproxy#readme
Wants=network-online.target
After=syslog.target network-online.target
StartLimitInterval=0

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/dnsproxy/dnsproxy
ExecStop=/usr/bin/pkill dnsproxy
Restart=always
RestartSec=10
KillMode=process

AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
