[Unit]
Description=AdguardTeam/dnsproxy service
After=syslog.target network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/dnsproxy/dnsproxy
ExecStop=/usr/bin/pkill dnsproxy
Restart=always
RestartSec=10
KillMode=process

AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
